{
	"root": true,
	"extends": ["mahir/common", "mahir/node", "mahir/typescript", "mahir/prettier", "mahir/tsdoc"],
	"ignorePatterns": ["**/dist/*"],
	"parser": "@typescript-eslint/parser",
	"rules": {
		"no-console": "error"
	}
}
